

@layer base {
  html{
    min-block-size: 99vh;
  }

  body {
    margin: 0;
  }

  [hidden]{
    display: none !important;
  }

  h1,h2,h3{
    @apply text-indigo-700 leading-tight;
  }

  h1{
    @apply text-2xl;
  }

  h2{
    @apply text-xl;
  }

  h3{
    @apply text-xl
  }

  h3{
    @apply text-lg
  }

  p{
    @apply text-slate-700 text-base leading-normal
  }

  button{
    @apply disabled:cursor-not-allowed;
  }
}