
#page{
  
  .learn{
    @apply flex flex-col items-center;
    margin-block: 20px;

    h1{
      @apply mb-4;
    }
    h2{
      @apply mb-1 text-2xl;
    }
    p{
      @apply text-sm mb-4 text-center leading-normal
    }
  }

}